.header-menu-hamburguer {
  width: 1.5em;
  height: 1.5em;
  background: no-repeat center url("../img/Menu.svg");
  display: inline-block;
}
header {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.container {
  display: flex;
  align-items: center;
}
.container-image {
  padding: 1em;
}
.menu-list {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
}
.container-button:checked ~ .menu-list {
  display: block;
}
.menu-title,
.menu-item {
  padding: 1em;
  background: var(--white);
}
.menu-title {
  color: var(--orange);
  font-weight: 700;
}
.menu-link {
  background: var(--azul-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}
.container-button {
  display: none;
}
.container-title {
  display: none;
}
.options {
  display: none;
}

@media screen and (min-width: 1024px) {
  .container-title,
  .container-title-bold {
    font-family: var(--secondary-font);
    font-size: 1.875rem;
  }
  .container-title {
    font-weight: 400;
    display: block;
  }
  .container-title-bold {
    font-weight: 700;
  }
  .options {
    display: flex;
  }
  .option-item {
    padding: 0 1em;
    text-transform: uppercase;
  }
  .option-link {
    text-decoration: none;
    color: var(--black);
  }
  .favorite {
    display: none;
  }
  .header-menu-hamburguer {
    display: none;
  }
  .option-button:checked ~ .menu-list {
    display: block;
    width: auto;
  }
  .option-button {
    display: none;
  }
}
